#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-large {
  font-size: 5vw;
}
.text-medium {
  font-size: 2vw;
}

#linediv {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#line {
  border: 1px solid grey;
  width: 400px;
  height: 2px;
}

#title {
  outline-style: solid;
  outline-width: 1px;
}

#title-desc {
  padding-top: 10px;
}
#top-photos {
  display: flex;
  align-items: center;
  flex-direction: column; 
}

#photos-div {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 90% 10%;
 text-align: center;
 grid-template-areas: 
 "top-cage top-cage top-cage"
 "text-small text-small text-small";
 border: solid 1px black;
}

.top-cage {
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: space-between;
  padding: 10px;
  border: solid 1px black
}
#top-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 5px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#quote-box {
  width: 100vw;
  height: 20vh;
  position: relative;
  overflow: hidden;
}

#main {
  outline-style: solid;
  outline-width: 1px;
  width: 75vw;
  height: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-area: 
  "aliens main-nav-right";
  margin-left: auto;
  margin-right: auto;
}

#aliens {
  grid-area: aliens; 
  border: solid 1px black;

}

#awesome-demo {
  grid-area: awesome-demo;
  border: solid 1px black;;
}

#main-nav-right {
  grid-area: main-nav-right;
  border: solid 1px black;;
}

#of-note {
  grid-area: of-note;
  border: solid 1px black;;
}

#footer {
  outline-style: solid;
  outline-width: 1px;
}

.icon {
  outline-style: solid;
  outline-width: 2px;
  display: flex;
  align-self: flex-end;
  width: 10px;
  height: 50x:
}