#body{
  position: static;
}

#header {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*  - - - - fonts - - - - */ 
.text-large {
  font-size: 40px;
  font-family: Roboto, Courier;
}
.text-medium {
  font-size: 20px;
  font-family: Roboto, Courier;
  font-weight: 300;
}

.text-small {
  font-size: 16px;
  font-family: Roboto, Courier;
}
/*  - - - - fonts end - - - - */ 

#linediv {
  display: flex;
  justify-content: center;
  margin: 20px
}

#line {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 400px;
  height: 2px;
}

#features{
  position: static;
}

#title-desc {
  padding-top: 10px;
}
#top-photos {
  display: flex;
  align-items: center;
  flex-direction: column; 
  margin: auto;
}

#photos-div {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 90% 10%;
 text-align: center;
 grid-template-areas: 
 "top-cage top-cage top-cage"
 "text-small text-small text-small";
}

.top-cage {
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: space-between;
  margin: 20px
}
/*  - - - - buttons - - - - */ 
#top-button {
  font-size: 16px;
  margin: 30px;
}
#content-button {
  font-size: 16px;
  margin: 15x;
}

#footer-button {
  font-size: 16px;
  margin: 15x;
}
.buttonL {
  background-color: rgb(95, 97, 95); 
  border: none;
  font-family: Roboto, Courier;
  color: white;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.buttonS {
  background-color: rgb(0, 255, 255); 
  border: none;
  font-family: Roboto, Courier;
  color: white;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.buttonL:hover {
  cursor: pointer;
  opacity: 65%;
}

.buttonS:hover {
  cursor: pointer;
  opacity: 65%;
}
/*  - - - - buttons end - - - - */ 

#quote-box {
  width: 100vw;
  height: 20vh;
  position: static;
  overflow: hidden;
}

#main {
  
  width: 75%;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "left-content right-content";
  margin-left: auto;
  margin-right: auto;
}

#left-content{
  display: flex;
  position: relative;
  grid-area: left-content;
  
  flex-direction: column;
  
}

#aliens {
  grid-area: aliens; 
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50%;
  
}
.content-image {
  background-color: blueviolet;
  height: 20px;
  width: 80px;

}
#awesome-demo {
  grid-area: awesome-demo;
  grid-area: aliens; 
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50%;
}

#right-content{
  grid-area: right-content;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "main-nav-right"
  "of-note";
  


}

#main-nav-right {
  border: solid 1px black;

  
}

#of-note {
  border: solid 1px black;
  
}

.alien{
  position: relative;
}



#totally{
  margin-bottom: px;
}
/*  - - - - footer  - - - - */ 
#footer {
  background-color: #d2d2d4;
  position: static;
}

#get-in-touch {
  text-align: center;
  padding-top: 10px;
}

#grid-for-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "icon";
}

#icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
}
.icon {
  width: 20px;
  height: 20px
}