#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-large {
  font-size: 5vw;
}
.text-medium {
  font-size: 2vw;
}

#linediv {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#line {
  border: 1px solid grey;
  width: 400px;
  height: 2px;
}

#title {
  outline-style: solid;
  outline-width: 1px;
}

#title-desc {
  padding-top: 10px;
}
#top-photos {
  display: flex;
  align-items: center;
  flex-direction: column; 
  padding-top: 35px;
}

#photos-div {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 90% 10%;
 text-align: center;
 grid-template-areas: 
 "top-cage top-cage top-cage"
 "text-small text-small text-small";
 border: solid 1px black;
}

.top-cage {
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: space-between;
  padding: 20px;
  border: solid 1px black
}
#top-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.small-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5px;
}

#quote-box {
  width: 100vw;
  height: 20vh;
  position: relative;
  overflow: hidden;
}

#main {

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "left-content right-content";
  margin-left: auto;
  margin-right: auto;
}

#left-content{
  display: flex;
  position: relative;
  grid-area: left-content;
  
  flex-direction: column;
  
}

#aliens {
  grid-area: aliens; 
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50%;
  
}
#content-image {

}
#awesome-demo {
  grid-area: awesome-demo;
  grid-area: aliens; 
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50%;
}

#right-content{
  grid-area: right-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

#main-nav-right {
  border: solid 1px black;
  height: 50%;
}

#of-note {
  border: solid 1px black;
  height: 50%;
}

.alien{
  position: relative;
}

#alien-box{
  background-color: blueviolet;
  height: 60%;
  width: 100%;
}

#totally{
  margin-bottom: px;
}
/*
#footer {
  background-color: #d2d2d4;
}
#grid-for-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "icon";
}



#get-in-touch {
  text-align: center;
  padding-top: 10px;
}

#icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
}
.icon {
  width: 20px;
  height: 20px
}